body{
    width: 90%;
    height:50vh;
    background-color: rgb(164, 186, 179);
}
.card{
    margin-top: 20%;
}
.heading{
    margin-left:43% ;
}
.flex{
    display: flex;
    gap: 25px;
    margin-top: 30px;
    margin-left:46% ;
}
.btn{
    padding: 12px;
    border: 1px solid black;
    color: black;
    font-weight: bold;
    border-radius: 30px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s; 
}
.btn:hover{
    border:1px solid black;
    background: #000;
    color: white;
    cursor: pointer;
}

@media(max-width:420px){
    body{
        width: 90%;
        height:50vh;
        background-color: rgb(164, 186, 179);
    }
    .card{
        margin-top: 60%;
    }
    .heading{
        margin:auto ;
        text-align: center;
        margin-bottom: 20px;
    }
    .flex{
        display: grid;
        gap: 25px;
        margin: auto;
    }
    .btn{
        padding: 12px;
        border: 1px solid black;
        color: black;
        font-weight: bold;
        border-radius: 30px;
        background-color: transparent;
        cursor: pointer;
        transition: 0.5s; 
    }
    .btn:hover{
        border:1px solid black;
        background: #000;
        color: white;
        cursor: pointer;
    }   
}